.footer {
  color:black;
  background-color:#e0e2e2;
  width: 100%;
}

h2{
  background: #4D5D30;
  text-align: center;
  color: chartreuse;

}

.social svg{
  color: #000 !important;
  font-size: xx-large;
}
#Heading{
  font-size: 23px;
  color: #4D5D30;
  font-weight: 700;
}

.col{
  height: 67px;
  text-align: center;
  padding-top: 12px;
}

table{
  width:100%;
  border:1px solid black;
  border-collapse: collapse;
}

td {
  padding: 5px;
  text-align: left;
  border: 1px solid black;
}

span{
  color: red;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #000;
}

#major-link{
  color: #4D5D30;
}


.scroll{
  position: fixed;
  z-index: 1000;
  left: 92%;
  font-size: 60px;
  top: 91.8%;
  color: #4D5D30;
  transform: scale(0.95);
}

.scrollHide{
  /* opacity:0; */
  bottom:-1000px;
  animation: scrollHiding 1s ease-out forwards;
}

.scrollShow{
  /* opacity: 100; */
  bottom:20px;
  animation: scrollShowing 1s ease-in forwards;
}

@keyframes scrollHiding{
  0%{
      opacity: 100%;
  }
  50%{
      opacity:50%;
  }
  100%{
      opacity:0%;
  }
}
@keyframes scrollShowing{
  0%{
      opacity: 0%;
  }
  50%{
      transform: scale(1.5);
      opacity:50%;
  }
  100%{
      transform: scale(1);
      opacity:100%;
  }
}